### Import Libraries

In [1]:
# write your code here
import numpy as  np 
import pandas as pd

### Read the data

In [2]:
# write your code here
df=pd.read_csv('Week3_Data.csv')

### Print number of Rows and Columns

In [3]:
# write your code here
df.shape

(6497, 13)

### Print the number of null values in each column

In [4]:
df.isnull().sum()

type                     0
fixed acidity           10
volatile acidity         8
citric acid              3
residual sugar           2
chlorides                2
free sulfur dioxide      0
total sulfur dioxide     0
density                  0
pH                       9
sulphates                4
alcohol                  0
quality                  0
dtype: int64

### Fill the columns having Null values with their median value

In [5]:
# write your code here
df =df.fillna(value=df.median())
df

C:\Users\Ayush Bhati\AppData\Local\Temp\ipykernel_35732\2845189209.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df =df.fillna(value=df.median())

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,white,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,white,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,red,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.51,11.2,6
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [6]:
df.isnull().sum()

type                    0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

### One Hot Encode the Categorical Column

In [7]:
# write your code here
df.dtypes#these shows that type column is the categorical column

type                     object
fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [8]:



df1 =pd.get_dummies(df.type)
merged=pd.concat([df,df1],axis='columns')

In [9]:
merged

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red,white
0,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6,0,1
1,white,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,0,1
2,white,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,0,1
3,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,0,1
4,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1,0
6493,red,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.51,11.2,6,1,0
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1,0
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1,0
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,1,0

In [10]:
df3 =merged.drop(columns=['type'])

### Divide the data into X(feature column) and y(target column)

In [11]:
# write your code here
X =df3.drop(columns=['quality'])

In [12]:
y =df3['quality']

### Perform train test split on the dataset

In [13]:
# write your code here
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size=0.2,random_state =42)

### Perform the task e and f given in the pdf file

In [27]:
from sklearn.tree import DecisionTreeClassifier
DT =DecisionTreeClassifier(random_state =42)
DT.fit(X_train,y_train)
print(DT.score(X_test,y_test))
print(DT.score(X_train,y_train))

0.6138461538461538
1.0

In [15]:
y.value_counts()

6    2836
5    2138
7    1079
4     216
8     193
3      30
9       5
Name: quality, dtype: int64

In [16]:
dt_prediction =DT.predict(X_test)
dt_prediction1 =DT.predict(X_train)

In [17]:
from sklearn.metrics import accuracy_score

In [18]:
from sklearn.ensemble import RandomForestClassifier
RF =RandomForestClassifier(random_state=42)

In [25]:
RF.fit(X_train,y_train)
print(RF.score(X_test,y_test))
print(RF.score(X_train,y_train))
rf_prediction =RF.predict(X_test)
rf_prediction1 =RF.predict(X_train)

0.6884615384615385
1.0

In [20]:
accuracy_score(rf_prediction,y_test)#accuracy sccore of Randomforestclassifier

0.6884615384615385

In [21]:
accuracy_score(dt_prediction,y_test)#accuracy score of Decisiontree

0.6138461538461538

In [23]:
accuracy_score(dt_prediction1,y_train)

1.0

In [24]:
accuracy_score(rf_prediction1,y_train)#accuracy sccore of Randomforestclassifier

1.0